* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: 'lemon-italic-bold';
    src: url('fonts/lemon_milk/LEMONMILK-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'lemon-light';
    src: url('fonts/lemon_milk/LEMONMILK-Light.otf') format('opentype');
}

@font-face {
    font-family: 'lemon-bold';
    src: url('fonts/lemon_milk/LEMONMILK-Bold.otf') format('opentype');
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: pink;
    font-family: 'Inter', sans-serif;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
    background-color: pink;
    box-shadow: 5px 5px 5px;
    margin-bottom: 15px;
    width: 95%;
    height: 100%;
}

nav button {
    cursor: pointer;
    transition: transform 0.3s;
}

nav button:hover {
    transform: translateY(-5px);
}

header {
    overflow: visible;
    position: sticky;
    top: 0;
    align-self: flex-end;
    margin-right: 8vw;
}

button {
    background-color: transparent;
    border-color: transparent;
    font-size: 1.6vh;
    font-family: 'lemon-light';
}

div#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 90, 139);
    width: 50vw;
    height: 120vh;
    align-self: center;
    padding: 50px;
    box-shadow: 10px 10px 5px;
    margin-bottom: 50px;
}

p#about {
    width: 40vw;
    font-family: 'Montserrat';
}

h1#welcome {
    font-size: 5vh;
    font-family: 'lemon-bold', sans-serif;
    margin: 20px;
}

h1#about-header {
    align-self: flex-start;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: 'lemon-italic-bold'
}

.about-container {
    background-color: rgb(236, 220, 220);
    padding: 12px;
    border-radius: 13px;
    box-shadow: 7px 7px;
}

ul {
    list-style-type: none;
}

.hours-container {
    background-color: rgb(236, 220, 220);
    margin: 15px;
    border-radius: 13px;
    padding: 20px;
    width: 15vw;
    box-shadow: 7px 7px;
    font-family: 'Montserrat';
    
}

.second-container {
    display: flex;
    justify-content: space-between;
}

h1#hours {
    margin-bottom: 10px;
    font-family: 'lemon-italic-bold';
}

.location-container {
    margin: 15px;
    border-radius: 13px;
    padding: 20px;
    background-color: rgb(236, 220, 220);
    height: 10vh;
    box-shadow: 7px 7px;
    font-family: 'Montserrat';
}

h1.location {
    font-family: 'lemon-italic-bold'
}

.bottom-container {
    background-color: rgb(236, 220, 220);
    width: 100%;
    height: 100%;
    box-shadow: 7px 7px;
    display: flex;
    flex-direction: column;
}

.lemon-container {
    width: 100%;
    height: 50%;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}

.lemon-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat'
}

#lemon {
    height: 14vw;
    margin: 12px;
    box-shadow: 5px 5px 5px;
}

.lemon-header {
    font-family: 'lemon-bold'
}

.lemon-text {
    width: 8vw;
}

.biscoff-container {
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    font-family: 'Montserrat';
    justify-content: space-around;
}

.biscoff-header {
    font-family: 'lemon-bold'
}

.biscoff-text {
    width: 8vw;
}

#biscoff {
    height: 15vw;
    width: 15vw;
    box-shadow: 5px 5px 5px;
}

#menu-content {
    display: grid;
    grid: repeat(3, 1fr) / 1fr 1fr;
    height: 125vh;
    width: 55vw;
    box-shadow: 10px 10px 5px;
    background-color: rgb(236, 90, 139);
    margin-bottom: 40px;
    padding:15px;
    gap: 10px;
    place-items: center;
}

#biscoff-menu, #lemon-menu,
#cheese-menu {
    background-color: rgb(236, 220, 220);
    box-shadow: 7px 7px 5px;
    border-radius: 8px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    padding: 25px;
    box-sizing: border-box;
}

#cheesecake-img-menu,
#biscoff-img-menu,
#lemon-img-menu {
    height: 36vh;
    width: 25vw;
    border-radius: 8px;
    box-shadow: 5px 5px 5px;
}

#biscoff-menu h1, #lemon-menu h1,
#cheese-menu h1 {
    font-family: 'lemon-italic-bold';
    margin: 10px;
    font-size: 4vh;
}

#biscoff-menu p, #lemon-menu p,
#cheese-menu p {
    margin: 10px;
    font-size: 2vh;
}